<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h2>Edit product</h2>
<p>
    <a href="/products/">Product list</a>
</p>
<div id="form">
    <form th:action="@{/products/edit}" method="post" enctype="multipart/form-data">
        <table cellpadding="5">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name" th:value="${product.name}"/></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="number" name="price" th:value="${product.price}"/></td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td><input type="number" name="quantity" th:value="${product.quantity}"/></td>
            </tr>
            <tr>
                <td>Color:</td>
                <td><input type="text" name="color" th:value="${product.color}"/></td>
            </tr>
            <tr>
                <td>Image:</td>
                <td><input type="file" name="img1" th:value="${product.img}"/></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <select name="category" th:value="${product.category.id}">
                        <option th:value="${product.category.id}" th:text="${product.category.name}"></option>
                        <option th:each="c : ${categories}" th:value="${c.getId()}" th:text="${c.getName()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Edit product"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
